//$v-background-color: #779;
//$v-app-background-color: $v-background-color;
@import "../material/material.scss";

@mixin facebook {
  @include material;

  /* An actual theme rule */
  * {
    box-sizing: border-box;
  }

  .viewstyle {
    min-width: 800px;
    min-height: 270px;
  }

  .customcell {
    width: auto;
  }

  .buttonstyle {
    width: 10vw;
    height: 5vh;
    &[width-range="0-30px"] {
      font-size: 8px;
    }

    &[width-range="31px-50px"] {
      font-size: 9px;
    }

    &[width-range="51px-70px"] {
      font-size: 10px;
    }

    &[width-range="71px-120px"] {
      font-size: 11px;
    }

    &[width-range="121px-200px"] {
      font-size: 15px;
    }

    &[width-range="201px-"] {
      font-size: 18px;
    }
  }

  .bandboxstyle {
    width: 13vw;
    height: 6vh;
    margin-top: 0.5vh;
    margin-left: 1vw;
    margin-right: 0.5vw;
  }

  .boxstyle {
    width: 10vw;
    height: 5vh;
    margin-top: 0.5vh;
    margin-left: 1vw;
  }

  .labelstyle {

    // These will auto-adjust according the the font-size
    align-content: center;
    float: left;
    display: block;
    width: 10vw;
    height: 5vh;
    margin-top: 0.5vh;
    margin-left: 1vw;

    &[width-range="0-30px"] {
      font-size: 10px;
    }

    &[width-range="31px-50px"] {
      font-size: 12px;
    }

    &[width-range="51px-70px"] {
      font-size: 13px;
    }

    &[width-range="71px-120px"] {
      font-size: 15px;
    }

    &[width-range="121px-200px"] {
      font-size: 18px;
    }

    &[width-range="201px-"] {
      font-size: 22px;
    }

  }
}